.browse-button {
  width: 7px;
  height: 7px;
  margin: auto auto;
  border: 0.4px solid #4A4A4A;
}
.square {
  border-radius: 10%;
}
.circle {
  border-radius: 50%;
}
.blue {
    background: #8196FF 0 0 no-repeat padding-box;
}
.yellow {
    background: #FFEA81 0 0 no-repeat padding-box;
}
.red {
    background: #FF8181 0 0 no-repeat padding-box;
}
.green {
    background: #99E542 0 0 no-repeat padding-box;
}