.label-card {
  display: inline-block;

  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #4A4A4A;
  text-shadow: 0 0 4px #00000040;
  opacity: 1;
}