.main-label-bar {
  width: 240px;
  height: 2px;
  background: transparent
    linear-gradient(
      270deg,
      #ffffff00 0%,
      #ffffff 9%,
      #ffffff 91%,
      #ffffff00 100%
    )
    0% 0% no-repeat padding-box;
  opacity: 1;
}
