.tab-card {
  transform: rotate(180deg);
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: #f2f2f2;
  text-shadow: 0 0 4px #00000080;
  opacity: 1;
  height: 90px;
  flex: 1;
  writing-mode: vertical-lr;
}

.tab-card-selected {
  transform: rotate(180deg);
  background: #ffffff;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: #4a4a4a;
  text-shadow: 0 0 4px #00000080;
  opacity: 1;
  height: 90px;
  flex: 1;
  writing-mode: vertical-lr;
}
