.toggle-button {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  margin: auto auto;
  border: 1.5px solid #FFFFFF;
  box-shadow: 0 0 0 0.4px #4A4A4A;
}

.selected {
  background: #4a4a4a;
}