.select-content {
  cursor: pointer;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 84px;
  border: 0.4px solid #4A4A4A;
  border-radius: 2px;
  opacity: 1;
  z-index: 1;
}

.select-element {
  //display: inline-block;
  height: 14.6px;

  //display: flex;
  justify-content: center;
  text-align: left;
  text-indent: 4px;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: #4A4A4A;
  text-shadow: 0 0 4px #00000040;
  opacity: 1;
  &:hover {
    background-color: #C5C5C5;
  }
}

.shown {
  display: inline-block;
}

.select-box {
  display: inline-block;
  outline: none;
}

.select-button {
  display: inline-block;
  position: relative;
  top: -17.4px;
  left: 55px;
}

.selected {
  background-color: #4A4A4A;
  color: #FFFFFF;
  &:hover {
    background-color: #4A4A4A;
    color: #FFFFFF;
  }
}