.text-box-stands-aside-label {
  position: relative;
  left: 5px;
  top: 0;
  display: inline-block;
}

.text-box-button {
  display: inline-block;
  position: relative;
  right: 10px;
  top: 3.5px;
}